body{background-color:rgb(88, 189, 157);
color: rgb(9, 4, 4);
}
table{
    border-color:rgb(238, 142, 142);

}
td{padding: 8px 16px;
}
.col{
    font-weight: bold;
    font-size: 18px;
    background-color: salmon;
}

      tr{
        background-color: rgb(179, 197, 201);
        color: black;
        text-align: center;
    }
    input{
        font-size: 16;
    }
     